# .ssh/config - Andrew Melo
#
# Note when customizing: SSH will choose the first option it sees

#
# Configure bastion (or gateway) hosts. These special hosts are globally
#     visible and can be used to access hosts behind firewalls
Host lxplus* lxplus*.cern.ch
    user gauzinge
    hostname lxplus.cern.ch
    ProxyCommand none
    #GSSAPIClientIdentity gauzinge@CERN.CH
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials yes
    #GSSAPIKeyExchange no
    Protocol 2
    ServerAliveInterval 60
    ServerAliveCountMax 6
    PreferredAuthentications gssapi-with-mic,gssapi,publickey,keyboard-interactive,password
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Trusted yes
    PubkeyAuthentication yes
    ControlPersist 15
    ControlPath ~/.ssh/%h.%p.%r
    ControlMaster auto
    # Work around a bug in OSX:
    # http://b.kl3in.com/2012/01/x11-display-forwarding-fails-after-some-time/
    TCPKeepAlive yes
    ForwardX11Timeout 576h

Host cmsuptrackerdaq brillab186
    user gauzinge
    ProxyCommand none
    #GSSAPIClientIdentity gauzinge@CERN.CH
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials yes
    #GSSAPIKeyExchange no
    Protocol 2
    ServerAliveInterval 60
    ServerAliveCountMax 6
    PreferredAuthentications gssapi-with-mic,gssapi,publickey,keyboard-interactive,password
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Trusted yes
    PubkeyAuthentication yes
    ControlPersist 15
    ControlPath ~/.ssh/%h.%p.%r
    ControlMaster auto
    TCPKeepAlive yes
    # Work around a bug in OSX:
    # http://b.kl3in.com/2012/01/x11-display-forwarding-fails-after-some-time/
    ForwardX11Timeout 576h

Host cmsuptrackerdaq.cern.ch brillab186.cern.ch
    user gauzinge
    ProxyCommand ssh gauzinge@lxplus.cern.ch /usr/bin/nc %h %p 2> /dev/null
    #GSSAPIClientIdentity gauzinge@CERN.CH
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials yes
    #GSSAPIKeyExchange no
    Protocol 2
    ServerAliveInterval 60
    ServerAliveCountMax 6
    PreferredAuthentications gssapi-with-mic,gssapi,publickey,keyboard-interactive,password
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Trusted yes
    PubkeyAuthentication yes
    ControlPersist 15
    ControlPath ~/.ssh/%h.%p.%r
    ControlMaster auto
    TCPKeepAlive yes
    # Work around a bug in OSX:
    # http://b.kl3in.com/2012/01/x11-display-forwarding-fails-after-some-time/
    ForwardX11Timeout 576h

Host cmsusr
    user gauzinge
    ProxyCommand none
    hostname cmsusr.cern.ch
    TCPKeepAlive yes
    PubKeyAuthentication yes
    ControlPersist 15
    ControlPath ~/.ssh/%h.%p.%r
    ControlMaster auto
    # Work around a bug in OSX:
    # http://b.kl3in.com/2012/01/x11-display-forwarding-fails-after-some-time/
    ForwardX11Timeout 576h
#
# These stanzas tell SSH how to connect to hosts hidden behind firewalls
#
#Host *.cern.ch
    #user gauzinge
    #ProxyCommand ssh -W %h:%p gauzinge@lxplus.cern.ch
    #TCPKeepAlive yes

Host *.cms
    user gauzinge
    ProxyCommand ssh -W %h:%p gauzinge@cmsusr.cern.ch
    TCPKeepAlive yes
    PubkeyAuthentication yes
    ControlPersist 15
    ControlPath ~/.ssh/%h.%p.%r
    ControlMaster auto
    # Work around a bug in OSX:
    # http://b.kl3in.com/2012/01/x11-display-forwarding-fails-after-some-time/
    ForwardX11Timeout 576h

Host *.fnal.gov
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials yes
    TCPKeepAlive yes
    
